.mp_ajaxload{text-align:center;display:none;}
.mp_subscribe label {float:left;margin-right:10px;}
.mp_subscribe .mp_Identity {width:100%;}
.mp_subscribe .mp_submitButton{text-align:inherit;}
.mp_subscribe .mp_msg {text-align: center;margin: 10px;}